{% extends 'base.html.twig' %}

{% block body1 %}
{% endblock %}

{% block body2 %}
{% endblock %}

{% block body3 %}
{% endblock %}

{% block body4 %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <h1>Edit Event</h1>

    {{ include('event/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('event_index') }}">back to list</a>



    {{ include('event/_delete_form.html.twig') }}
{% endblock %}

{% block body5 %}
{% endblock %}

{% block body6 %}
{% endblock %}
