{% extends 'base.html.twig' %}
{% block body1 %}{% endblock %}
{% block body2 %}{% endblock %}
{% block body3 %}

{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
{% endblock %}
